[submodule "Internet"]
	path = dps/Internet
	url = https://github.com/norayr/Internet
[submodule "irc"]
	path = dps/irc
	url = https://github.com/norayr/irc
[submodule "time"]
	path = dps/time
	url = https://github.com/norayr/time
[submodule "lists"]
	path = dps/lists
	url = https://github.com/norayr/lists
[submodule "dps/opts"]
	path = dps/opts
	url = https://github.com/norayr/opts
